ul{ position:fixed;
    top:0;
	left:0;
	width:100%;
       margin:0;
	   background-color:grey;
padding:0;	   
		border:black solid 2px;
		list-style-type:none;
		}
		
		
li{ float:left;
           margin:0;
           padding:0;
		   
           border-right: black solid 2px;
		  
}
a{ text-align:center;
             background-color:gray;
             color:black;
             padding:20px 35px;
             display:block;
			 text-decoration:none;
			 
            }
			li:last-child{ border-left:black solid 2px;
			}
.active_nev	{ background-color:green;
              color:white;
}
a:hover:not(.active_nev){ background-color:blue;
                               color:white;
							   }
			  